.info-box50 {
  width: 750px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  border: 2px solid #e6ecf5;
  border-radius: 5px;

}

.title50 {
  width: 80%;
  height: 24px;
  padding: 13px 10% 13px 10%;
  border-bottom: 2px solid #e6ecf5;
  font-size: 18px;
}

.content50 {
  margin: 10px;
}
