.element-container {
    width: 99%;
    height: auto;
    border: 2px solid #e6ecf5;
    margin-bottom: 1vw;
    border-radius: 5px;
    float: left;
    }

.element-title {
    width: 80%;
    height: 24px;
    padding: 0.6vw 10% 0.6vw 10%;
    border-bottom: 2px solid #e6ecf5;
    font-size: 18px;
    }

.element-content {
    margin: 0.5vw;
}

.element-section {
    height: auto;
    width: 100%;
    margin-bottom: 1vw;
    display: block;
    overflow: auto;
     }

.list-horizontal-subtitle {
    float: left;
  width: 40%;
  font-weight: bold;
}

.list-horizontal-text {
    float: right;
    width: 60%;
  }

 .list-vertical-title {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    }
      
.list-vertical-text {
    width: 100%;
    margin-top: 10px;
      }



  