.info-box25R {
  width: 350px;
  height: auto;
  margin-top: 0px;
  border: 2px solid #e6ecf5;
  border-radius: 5px;
  float: right;
}

.title25 {
  width: 80%;
  height: 24px;
  padding: 13px 10% 13px 10%;
  border-bottom: 2px solid #e6ecf5;
  font-size: 18px;
}

.content25 {
  margin: 10px;
}

.subtitle25 {
  height: auto;
  width: 100%;
  padding-bottom: 25px;
}

.info1 {
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
}

.info2 {
  width: 100%;
  margin-top: 10px;
}
