.container {
    width: 80vw;
    height: auto;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    }

.left-column {
    width: 24%;
    height: auto;
    float: left;
    margin-left: 5px;
    margin-top: 0px;
}

.middle-column {
    width: 46%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    }
    
.right-column {
    width: 24%;
    height: auto;
    float: right;
    margin-right: 10px;
    margin-top: 0px;
}

.left-50 {
    width: 49%;
    height: auto;
    margin-left: 0px;
    float: left;
    margin-top: 25px;
}

.right-50 {
    width: 49%;
    height: auto;
    margin-left: 0px;
    float: right;
    margin-top: 25px;
}    

.left-50-i {
    width: 49%;
    height: auto;
    margin-left: 0px;
    float: left;
    margin-top: 0px;
}

.right-50-i {
    width: 49%;
    height: auto;
    margin-left: 0px;
    float: right;
    margin-top: 0px;
}

.left-33 {
    width: 33%;
    height: auto;
    margin-left: 0px;
    float: left;
    margin-top: 25px;
}

.center-33 {
    width: 33%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

.right-33 {
    width: 33%;
    height: auto;
    margin-right: 0px;
    float: right;
    margin-top: 25px;
}

.right-66 {
    width: 66%;
    height: auto;
    margin-right: 0px;
    float: right;
    margin-top: 25px;
}

.left-66 {
    width: 66%;
    height: auto;
    margin-right: 0px;
    float: left;
    margin-top: 25px;
}

.status-update {
    position: relative; 
    margin-bottom: 1vw;
    padding: 1vw 4.5% 1vw 4.5%;
    width: 91%;
    height: 3vw;
    border: none;
    border-bottom: 2px solid #e6ecf5;
    resize: none;
    }
  
.post {
    border: 2px solid #e6ecf5;
    font-size: 14px;
    height: auto;
    width: auto;
    float: right;
    padding: 1vw 1.5vw 1vw 1.5vw;
    border-radius: 5px;
    margin: 0vw 2vw 1vw 0vw; 
    background-color: orange;
    color: white;
} 

.user-icon {
    height: 2vw;
    width: 2vw;
    margin-left: 1.5vw;
    border-radius: 50%;
    background-color: grey;
    float: left;
    
  }

.user-name {
    float: right;
    width: 70%;
    margin-top: -1.6vw;
  }