.blog-post-single {
  height: 200px;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 2px solid #e6ecf5;
  overflow: hidden;
}

.blog-post-title {
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  }

.blog-text {
  width: 100%;
  margin-top: 10px;
  
}
